server {
    listen $NGXPORT80;
    server_name $NGXSERVERNAME $NGXSERVERALIAS;
    root        $NGXROOT;
    index       $NGXINDEX;
    
    # log files 
    access_log  /var/log/nginx/nginx.access.log;
    error_log   /var/log/nginx/nginx.error.log; 
    
    ## default location ##
    # location / {
    #     include /etc/nginx/mime.types;
    #     try_files $TRY_FILES;
    # }
    
    location /sso {
        proxy_pass             https://wayfsp2.wayf.dk/saml2jwt;
        proxy_set_header       X-Acs $X_ACS;
        proxy_set_header       X-token "wJInZb9G0vUmFhB3I9EqL6Iir8v6LDVToSIsKa/Inmvp";
    }

    location / {
        proxy_pass http://localhost:8686/;
        set $SET;
        proxy_set_header auth $AUTH;
    }
}

server {
    listen $NGXPORT8080;
    server_name $NGXSERVERNAME $NGXSERVERALIAS;
    root        $NGXROOT;
    index       $NGXINDEX;
    
    # log files 
    access_log  /var/log/nginx/nginx.access.log;
    error_log   /var/log/nginx/nginx.error.log;
    
    location /sso {
        proxy_pass             https://wayfsp2.wayf.dk/saml2jwt;
        proxy_set_header       X-Acs $X_ACS;
        proxy_set_header       X-token "wJInZb9G0vUmFhB3I9EqL6Iir8v6LDVToSIsKa/Inmvp";
    }

    location / {
        proxy_pass http://localhost:8686/;
        set $SET;
        proxy_set_header auth $AUTH;
    }
}

server {
    listen $NGXPORT9090;
    server_name $NGXSERVERNAME $NGXSERVERALIAS;
    root        $NGXROOT;
    index       $NGXINDEX;
    
    # log files 
    access_log  /var/log/nginx/nginx.access.log;
    error_log   /var/log/nginx/nginx.error.log;
    
    location /sso {
        proxy_pass             https://wayfsp2.wayf.dk/saml2jwt;
        proxy_set_header       X-Acs $X_ACS;
        proxy_set_header       X-token "wJInZb9G0vUmFhB3I9EqL6Iir8v6LDVToSIsKa/Inmvp";
    }

    location / {
        proxy_pass http://localhost:9696/;
        set $SET;
        proxy_set_header auth $AUTH;
    }
}
